body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #444;
}

/* Calculadora */

.calculadora {
    background: #333;
    border-radius: 15px;
    padding: 35px;
    width: 220px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#visor {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
    border: none;
    border-radius: 5px;
    background: #666;
    color: white;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

button {
    padding: 13.1px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #666;
    color: white;
}

button:hover {
    background: #888;
}

.limpar {
    background: #ff4444;
    grid-column: span 3; /* O botão "C" ocupa 3 colunas */
}

.igual {
    background: #4CAF50;
}

/* Alternar modo */

#alternar-modo {
    width: 104%;
    padding: 10px;
    margin-bottom: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cientifico {
    background: #555 !important;
}

.hide {
    display: none;
}

